<%- include('../partials/header.ejs') %>
<%- include('../partials/nav-admin.ejs') %>

<main>
    <div class="form-wrapper">
        <h1>Tạo phòng</h1>
        <form action="/admin/create-room" method="POST">
            <input type="text" id="name" name="name" placeholder="Tên phòng" required>
            <input type="text" id="price" name="price" placeholder="Giá tiền" required>
            <input type="text" id="countMax" name="countMax" placeholder="Số lượng sinh viên tối đa có thể đăng ký" required>
            <input type="text" id="gender" name="gender" placeholder="Giới tính" required>
            <button type="submit">Tạo</button>
    
        </form>
    </div>
</main>

<%- include('../partials/footer.ejs') %>