<footer id="footer">
    <div class="contact">
        <h3>Copyrigt Do Huy Hoa</h3>
        <p>Email: Hoa.dh204747@sis.hust.edu.vn</p>
        <p>Phone: 0963287067</p>
    </div>
</footer>

</body>
</html>
