<nav class="navbar-admin">

    <div class="list-menu">
      <ul>
        <li><a href="#">Trang chủ</a></li>

        <li>
          <a href="#">Quản lý đăng ký</a>
          <ul class="dropdown">
            <li><a href="#">Yêu cầu đăng ký phòng</a></li>
            <li><a href="#">Yêu cầu trả phòng</a></li>
          </ul>
        </li>

        <li>
            <a href="#">Quản lý phòng</a>
            <ul class="dropdown">
              <li><a href="/rooms">Danh sách phòng</a></li>
              <li><a href="/admin/create-room">Tạo thêm phòng</a></li>
            </ul>
        </li>
        <li><a href="/post-news">Đăng bài thông báo</a></li>
        <li><a href="#">Cán bộ</a></li>
        <li><a href="#">Hóa đơn</a></li>

      </ul>
    </div>

    <div class="icon-name">
      
      <ul>
        <li>
          <i class="fas fa-user"></i>
          <ul class="dropdown">
            <li><a style="color: #fff;" href="">Thông tin cá nhân</a></li>
            <li><form action="/" method="POST">
              <button type="submit">Logout</button>
            </form></li>
          </ul>
        </li>
      </ul>

      
    </div> 
    
</nav>