<nav class="d-flex nav justify-content-around p-3 bg-dark">

    <div class="">
      <ul class="nav nav-tabs">
        <li class="nav-item "></li><a class="nav-link active" aria-current="page" href="/student/dashboard">Trang chủ</a></li>
        <li class="nav-item dropdown-center"></li>
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Quản lý đăng ký</a>
          <ul class="dropdown-menu">
            <li><a href="/student/dang-ky">Đăng ký phòng</a></li>
            <li><a href="/trang-thai">Trạng thái đăng ký</a></li>
            <li><a href="/roomate">Bạn cùng phòng</a></li>
          </ul>
        </li>
        <li class="nav-item"></li><a class="nav-link text-white" href="/list-manager">Cán bộ</a></li>
        <li class="nav-item dropdown-center"></li>
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Hóa đơn</a>
          <ul class="dropdown-menu">
            <li><a href="/hoa-don-thanh-toan">Hóa đơn thanh toán</a></li>
            <li><a href="/hoa-don-dien-nuoc">Hóa đơn điện nước</a></li>
          </ul>
        </li>
        <li class="nav-item"></li><a class="nav-link text-white" target="_blank" href="/forum">Diễn đàn</a></li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      
        <div class="dropdown-center">
          <a data-bs-toggle="dropdown">
            <img src="/images/user.png" alt="" class="avatar img-fluid rounded">
          </a>
          <ul class="dropdown-menu text-center">
            <li><a href="">Thông tin cá nhân</a></li>
            <li><form action="/" method="POST">
              <button type="submit">Logout</button>
            </form></li>
          </ul>
        </div>

      
    </div> 
    
</nav>