<nav class="navbar">

    <div class="list-menu">
      <ul>
        <li><a href="#">Trang chủ</a></li>
        <li>
          <a href="#">Quản lý đăng ký</a>
          <ul class="dropdown">
            <li><a href="/student/dang-ky">Đăng ký phòng</a></li>
            <li><a href="#">Trạng thái đăng ký</a></li>
            <li><a href="#">Bạn cùng phòng</a></li>
          </ul>
        </li>
        <li><a href="#">Cán bộ</a></li>
        <li><a href="#">Hóa đơn</a></li>
        <li>
          <form action="/" method="POST">
            <button class="btn-logout" type="submit">Đăng xuất</button>
          </form>
        </li>
      </ul>
    </div>

    <div class="icon-name">
      <i class="fas fa-user">
        <!-- <ul class="dropdown">
          <li><a href="">Thông tin tài khoản</a></li>
          
        </ul> -->
      </i>
      <p>Đỗ Huy Hòa</p>
    </div> 
        </ul>
      </i>
    </div>
    
</nav>