*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* nav */
.navbar{
    position: relative;
    width: 100%;
    height: 100px;
    background-color:brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-menu ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}
.list-menu ul li{
    padding: 10px;
    display: inline-block;
    position: relative;
}

.list-menu ul li ul.dropdown li{
    display: block;
}
.list-menu ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar  ul li:hover ul.dropdown{
    display: block;
    background-color: #c02f2f;
}

.icon-name{
    text-align: center;
}
.icon-name ul.dropdown{
    display: none;
}
.icon-name ul.dropdown li{
    display: block;
}

.fa-user{
    position: relative;
    scale: 1.4;
}


.list-menu a{
    color: aliceblue;
    text-decoration: none;
}
.list-menu a:hover{
    color: #1f7de2;
    
}

/* nav-admin */
.navbar-admin  ul li:hover ul.dropdown{
    display: block;
    background-color: #0056b3;
}


.navbar-admin .list-menu a:hover{
    color: #e2ae1f;
    
}

.navbar-admin{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #0056b3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-menu ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}
.list-menu ul li{
    padding: 10px;
}

.navbar a{
    color: aliceblue;
    text-decoration: none;
}



/* register-form */
.wrapper{
    width: 320px;
    padding: 2rem 1rem;
    margin: 200px auto;
    background-color: azure;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgb(255, 102, 0);
}
.wrapper h1{
    color: black;
    margin-bottom: 30px;
}
.wrapper form input{
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    background: #ccc;
}
.wrapper form button{
    width: 90%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.8 rem;
    background-color: #007BFF;
    color: #fff;
}
.wrapper form button:hover{
    cursor: pointer;
    color: #c02f2f;
    transform: scale(1.1);
    background-color: aquamarine;
}
.wrapper .member{
    margin-top: 20px;
    font-size: larger;
}
.wrapper .member a{
    font-style: italic;
    color: #c02f2f;
}

/* form create-edit room */
.form-wrapper{
    width: 500px;
    padding: 2rem 1rem;
    margin: 20px auto;
    
    border-radius: 10px;
    text-align: center;
}
.form-wrapper h1{
    margin-bottom: 20px;
}
.form-wrapper input{
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    background: #ccc;
}
.form-wrapper button{
    width: 20%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.8 rem;
    background-color: #007BFF;
    color: #fff;
}
.form-wrapper button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.form-wrapper label{
    margin-top: 25px;
    display: block;
}


/* footer */
.main-footer{
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-footer .list-footer a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.main-footer .list-footer a:hover{
    opacity: 0.7;
}

/* student-dashboard */
.xx{
    display: flex;
    position: relative;
    height: 100px;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-home{
    display: flex;
    position: relative;
    height: 600px;
    width: 100%;
    /* background-color: #007BFF; */
}
.main-home .event{
    position: absolute;
    top: 50px;
    left: 30px;
    height: 550px;
    width: 60%;

}

.event ul{
    margin-left: 30px;
}

.event li{
    line-height: 80px;
    border-bottom: 1px solid #ccc;
}

.event a{
    font-size: 24px;
    color: rgb(17, 1, 1);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.event a:hover{
    cursor: pointer;
    color: #007BFF;
}
.main-home .thong-ke{
    position: absolute;
    top:50px;
    right: 30px;
    height: 550px;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.thong-ke .box{
    width: 95%;
    height: 200px;
    margin: 10px;
    text-align: center;
}

.box h1,p{
    margin-top: 20px;
    color: #f1f1f1;
    font-weight: 40;
}

/* student/ dang-ky */
.table-room{
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
}

table, th, td {
    border:1px solid black;
    padding: 10px;
}


/* footer */
#footer{

    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-color: red;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url('/images/footer.png');
    background-size: cover;
}

/* form searchAll */
.search{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* background-color: aqua; */
}
.search form{
    width: 300px;
}

/* List News Manager */
.list-news{
    width: 80%;
    margin: auto;
    height: auto;
    /* background-color: antiquewhite; */
}
.list-news ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-news ul li .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.list-news ul li .info span{
    margin-left: 20px;
}
.list-news ul li .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* main-news */
.title-news{
    width: 100%;
    background-color: azure;
    display: flex;
    position: relative;
    height: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-news{
    position: relative;
    width: 100%;
    height: 400px;
}
.main-news-left{
    position: absolute;
    width: 50%;
    height: auto;
    left: 10%;
    top: 40px;
}
.main-news-left .content{
    margin-top: 20px;
}
.main-news-left .content p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main-news-rigth{
    position: absolute;
    width: 25%;
    height: 300px;
    right: 10%;
    top: 40px;
}
.main-news-rigth li{
    padding-top: 15px;
}

.main-news-rigth li span{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: black
}