* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

.flash-message{
    margin: auto;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    background-color: aqua;
    text-align: center;
    animation: message ease 1s, fadaOut linear 1s 1.5s forwards;   
}
@keyframes message{
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fadaOut{
    to {
        display: none;
    }
}

/* nav-user */






/* register-form */
.wrapper{
    width: 320px;
    padding: 2rem 1rem;
    margin: 200px auto;
    background-color: azure;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgb(255, 102, 0);
}
.wrapper h1{
    color: black;
    margin-bottom: 30px;
}
.wrapper form input{
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    background: #ccc;
}
.wrapper form button{
    width: 90%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.8 rem;
    background-color: #007BFF;
    color: #fff;
}
.wrapper form button:hover{
    cursor: pointer;
    color: #c02f2f;
    transform: scale(1.1);
    background-color: aquamarine;
}
.wrapper .member{
    margin-top: 20px;
    font-size: larger;
}
.wrapper .member a{
    font-style: italic;
    color: #c02f2f;
}

/* form create-edit room */
.form-wrapper{
    width: 500px;
    padding: 2rem 1rem;
    margin: 20px auto;
    
    border-radius: 10px;
    text-align: center;
}
.form-wrapper h1{
    margin-bottom: 20px;
}
.form-wrapper input{
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    background: #ccc;
}
.form-wrapper button{
    width: 20%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.8 rem;
    background-color: #007BFF;
    color: #fff;
}
.form-wrapper button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.form-wrapper label{
    margin-top: 25px;
    display: block;
}


/* home */
.main-footer{
    position: fixed;
    width: 100%;
    /* height: 120px; */
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-footer .list-footer a{
    color: black;
    text-decoration: none;
    padding: 10px;
}
.main-footer .list-footer a:hover{
    color: #c02f2f;
    transform: scale(1.2);
}

.blog{
    padding-top: 50px;
    display: block;
    text-align: center;
    justify-content: center;
    background-color: #ccc;
}
.box-blog{
    width: 80%;
    max-height: 600px;
    /* background-color: #e2ae1f; */
    margin: 50px auto;
    display: flex;
    justify-content: center;
    
}
.box-blog .blog-post{
    width: calc(100%/3);
    /* background-color: #1f7de2; */
    height: auto;
    margin: 0 20px;
}
.box-blog .blog-post .blog-img{
    width: 100%;
    height: 260px;
    /* background-color: #c02f2f; */
}
.box-blog .blog-post .blog-excerpt{
    width: 90%;
    max-height: 260px;
    /* background-color: aqua; */
    margin: 20px auto 0;
    overflow: hidden;
}
.box-blog .blog-post .blog-readmore{
    /* background-color: rgb(0, 255, 145); */
    width: 30%;
    padding: 8px;
    margin: 10px auto;
}
.about{
    display: block;
    justify-content: center;
    text-align: center;
}
.about span{
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.5;

}

/* student-dashboard */
.xx{
    display: flex;
    height: 100px;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
.xx input{
    width: 300px;
    padding: 5px;
    border: 1px solid #03130b;
}

.main-home{
    display: flex;
    position: relative;
    height: 600px;
    width: 100%;
    /* background-color: #007BFF; */
}
.main-home .event{
    position: absolute;
    top: 50px;
    left: 30px;
    height: 550px;
    width: 60%;

}

.event ul{
    margin-left: 30px;
}

.event li{
    line-height: 80px;
    border-bottom: 1px solid #ccc;
}

.event a{
    font-size: 20px;
    color: rgb(17, 1, 1);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.event a:hover{
    cursor: pointer;
    color: #007BFF;
}
.main-home .thong-ke{
    position: absolute;
    top:50px;
    right: 30px;
    height: 500px;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.thong-ke .box{
    width: 95%;
    height: 200px;
    margin: 10px;
    text-align: center;
}

.box h1,p{
    margin-top: 20px;
    color: #f1f1f1;
    font-weight: 40;
}

/* student/ dang-ky */
.table-room{
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
}

table, th, td {
    border:1px solid black;
    padding: 10px;
}


/* footer */
#footer{
    /* position: sticky; */
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(65, 70, 71);
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 0.5;
}
/* form searchAll */
.search{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* background-color: aqua; */
}
.search form{
    width: 300px;
}

/* List News Manager */
.list-news{
    width: 80%;
    margin: auto;
    height: auto;
    /* background-color: antiquewhite; */
}
.list-news ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-news ul li .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.list-news ul li .info span{
    margin-left: 20px;
}
.list-news ul li .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* main-news */
.title-news{
    width: 100%;
    background-color: azure;
    display: flex;
    position: relative;
    height: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-news{
    position: relative;
    width: 100%;
    height: 400px;
}
.main-news-left{
    position: absolute;
    width: 50%;
    height: auto;
    left: 10%;
    top: 40px;
}
.main-news-left .content{
    margin-top: 20px;
}
.main-news-left .content p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main-news-rigth{
    position: absolute;
    width: 25%;
    height: 300px;
    right: 10%;
    top: 40px;
}
.main-news-rigth li{
    padding-top: 15px;
}

.main-news-rigth li span{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

/* admin dashboard */
.wrapper-dashboard{
    align-self: stretch;
    display: flex;
    width: 100%;
}
#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.4s ease-in-out;
}
.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    width: 100%;
    background: #ccc;
}
.sidebar-logo{
    padding: 1.15rem;
}
.sidebar-logo span{
    color: coral;
    font-size: 1.15rem;
    font-weight: 600;
}
.sidebar-nav{
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}
.sidebar-header{
    color: white;
    font-size: 1rem;
    padding: 1.5rem 1.5rem 2.375rem;
}

a.sidebar-link:hover{
    color: #fff;
    background-color: chocolate;
}
ul.sidebar-dropdown li a{
    font-size: 1rem;
    margin-left: 28px;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    margin-bottom: 10px;
    color: white;
    position: relative;
    display: block;
    font-size: 1rem;
}
.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}
.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.avatar{
    height: 40px;
    width: 40px;
}
.navbar-expand .navbar-nav{
    margin-left: auto;
}
/* sidebarToggle */
#sidebar.collapsed{
    margin-left: -264px;
}


/* FORUM */
.forum-container{
    width: 52%;
    margin: auto;
    background-color: #fff;
}
.cmt-container{
    width: 98%;
    height: auto;
    margin: 0 10px;
}
.user-cmt{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}
.user-cmt button{
    border: none;
    background-color: rgb(109, 133, 221);
    color: #fff;
}
.user-cmt button:hover{
    background-color: #c02f2f;
}
.user-cmt .avt-cmt{
    width: 50px;
    height:50px;

    border-radius: 50%;
}
.user-cmt .text-cmt{
    margin: 15px 0 0 10px;
    position: relative;
    width: calc(100% - 80px);
    height: auto;
    line-height: 0.5;
    
}
.user-cmt .text-cmt p{
    color: rgb(19, 39, 40);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.form-cmt{
    width: 100%;
    height: auto;
    margin: 0px 0 30px;
}

.sort{
    border-bottom: solid 1px;
}

.sort a{
    padding: 2px;
    margin-bottom: 20px;
    background-color: aquamarine;
    border-radius: 5px;
}
.sort a:hover{
    background-color: lightgreen;
    scale: 1.1;
}

/**/
